<p-card
  header="{{ name }}"
  subheader="{{ status }}"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ image }}" />
  </ng-template>
  <p class="flex flex-column gap-3">
    <span>Species: {{ species }}</span>
    <span>Gender: {{ gender }}</span>
  </p>
  <ng-template pTemplate="footer">
    <p-button
      (onClick)="router.navigateByUrl('character/' + id)"
      label="Details"
      icon="pi pi-check"
    ></p-button>
  </ng-template>
</p-card>
