<p-card [style]="{ width: '270px',  }">
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ image }}" />
    <div class="text-primary font-bold pt-1 text-lg text-center">
      {{ name }}
    </div>
  </ng-template>
  <div class="flex flex-column gap-3 h-3rem">
    <span class="white-space-nowrap">Species: {{ species }}</span>
    <span>Gender: {{ gender }}</span>
    <span>
      Status:
      <span
        [ngClass]="[
          getStatusColor(status),
          'border-round-lg',
          'px-2',
          'text-white',
          'font-semibold'
        ]"
        >{{ status }}</span
      >
    </span>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center mt-3">
      <button
        pButton
        pRipple
        (click)="router.navigateByUrl('character/' + id)"
        label="Details"
      ></button>
    </div>
  </ng-template>
</p-card>
