<p-card [style]="{ width: '270px' }" *ngIf="!characterDetailsNotFound">
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ chracterDetails.image }}" />
    <div class="text-primary font-bold pt-1 text-lg text-center">
      {{ chracterDetails.name }}
    </div>
  </ng-template>
  <div class="flex flex-column gap-3">
    <span>Created: {{ chracterDetails.created | customDateFormat }}</span>
    <span>Gender: {{ chracterDetails.gender }}</span>
    <span>Species: {{ chracterDetails.species }}</span>
    <span *ngIf="chracterDetails.location"
      >Location: {{ chracterDetails.location.name }}</span
    >
    <span *ngIf="chracterDetails.origin"
      >Origin: {{ chracterDetails.origin.name }}
    </span>
    <span *ngIf="chracterDetails.type">type: {{ chracterDetails.type }}</span>
    <span>
      Status:
      <span
        *ngIf="chracterDetails.status"
        [ngClass]="[
          getStatusColor(chracterDetails.status),
          'border-round-lg',
          'px-2',
          'text-white',
          'font-semibold'
        ]"
        >{{ chracterDetails.status }}</span
      >
    </span>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center mt-3">
      <button
        pButton
        pRipple
        (click)="router.navigateByUrl('/')"
        label="Go to Home"
      ></button>
    </div>
  </ng-template>
</p-card>

<ng-container *ngIf="characterDetailsNotFound">
  <div
    class="bg-gray-100 text-3xl gap-3 flex flex-column justify-content-center min-h-screen align-items-center"
  >
    Character details not found.
    <button pButton pRipple (click)="router.navigateByUrl('/')">
      Go to Home Page
    </button>
  </div>
</ng-container>
